table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead th {
    text-align: center;
}

.rotate-90 {
    white-space: nowrap;
    margin: 0px auto;
}

.rotate-90 .rotate-demo:before {
    /* content:''; */
    /* padding-top:110%; */
    /* display:inline-block; */
    /* vertical-align:middle; */
}

.rotate-90 .rotate-demo {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}
